@charset "utf-8";
/**
* 百度地图API样式文件
*/
/*+-------------------------+*/
html,body{width:100%;margin:0 auto;padding:0;}
div,p,ul,li{padding:0;}
section,article,figure{display: block;}
*{box-sizing: border-box;-webkit-box-sizing: -moz-border-box;box-sizing: -o-border-box;box-sizing: border-box;-ms-box-sizing: border-box;}
em,i{font-style:normal;}
::-webkit-input-placeholder{color: #999;font-size:12px;}/* WebKit browsers */
:-moz-placeholder{color: #999;font-size:12px;}/* Mozilla Firefox 4 to 18 */
::-moz-placeholder{color: #999;font-size:12px;} /* Mozilla Firefox 19+ */
:-ms-input-placeholder{color: #999;font-size:12px;}/* Internet Explorer 10+ */
/*input[type="text"]{
	width:auto;
	height:26px;
	line-height:26px;
	padding:0 5px;
	border-radius:3px;
	border:1px solid #ddd;
}*/
input[type="checkbox"]{
	appearance:none;
	-webkit-appearance:none;
	-moz-appearance:none;
	-o-appearance:none;
	-ms-appearance:none;
	width:18px;
	height:18px;
	margin-right:5px;
	border:1px solid #0ce;
	border-radius:2px;
	vertical-align:top;
	outline:none;

}
input[type="checkbox"]:checked{
	border-color:#0ce;
	width:18px;
	height:18px;
	background:#0ce url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAmklEQVQ4T9WTUQ3DMAxE3zEqhEEYhEIYhSHYIAxCoQxCIYzBTZbSKmnTSWm+5p/8+J59J0d0ljr1/CnA9ijpFfabLdgO4SBpaAYsYuAi6dMEsH0DxlxcAGy/o0FSvEWFZyAA6+SlYc3AdniagGsOSeJn8j1v4UWIW0gmjsm7zaoZZJAHcE9rV8WHIR7ZqZ198x38zODMx+re4Av+4zsReOyeoAAAAABJRU5ErkJggg==') 50% 50% no-repeat;
	background-size:100% auto;
}
button[type="button"]{
	appearance:transparent;
	-webkit-appearance:transparent;
	width:auto;
	margin-left:8px;
	padding:0 10px;
	height:26px;
	line-height:26px;
	background:#f3ab26;
	color:#fff;
	border:0;
	border-radius:3px;
	cursor: pointer;
	outline: none;
}
button[type="button"]:hover{background-color:#8bbb2e;}
select{padding:2px;border:1px solid #0ce;border-radius:3px;vertical-align:top;outline:none;}


/*+-------------------------+*/
.section-bdmap{
	position:fixed;
	z-index:99999;
	top:0;
	left:0;
	right:0;
	margin:0 auto;
	width:100%;
	text-align:center;
}
.map-search{
	display:inline-block;
	/* position:absolute; 
	top:15px;
	left:0;
	right:0;*/
	width:auto;
	/* max-width:50%; */
	
	padding:25px;
	margin:5px auto 0 auto;
	border-radius:3px;
	background-color:rgba(255,255,255,1);
	box-shadow:1px 2px 8px rgba(0,0,0,.35);
	/*
	background-color:rgba(255,255,255,0.8);
	-khtml-opacity:0.8;
	-moz-opacity:0.8;
	filter:alpha(opacity=0.8);
	opacity:0.8;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
	*/
}
.map-search>.one{
	float:left;
	margin-left:15px;
}
.map-search>.one:first-child{margin-left:0;}
.map-search input[type="text"]{border-color:#A5DE37;}
.map-search label{font-size:14px;}
.map-search label.option{font-weight:bold;}


/*+-------------------------+*/
/*百度地图版权*/
.b_copyright{
	display:block;
	padding:10px 15px;
	background:#0ce;
	color:#fff!important;
	border-radius:5px;
	text-decoration:none;
	font-size:16px!important;
}


/*+百度地图文字标签+百度地图信息窗+*/
/*默认样式*/
.BMapLabel{border:0!important;background:transparent!important;}
.bdLabel{padding:8px 12px;color:#fff;background-color:#d80907;border-style:solid;border-width:1px;border-color:#d80907;border-radius:3px;box-shadow: 0 1px 2px rgba(0,0,0,.35);}
.bdLabel.red{border-color:#d80907;background-color:#d80907;}
.bdLabel.green{border-color:#82a73a;background-color:#82a73a;}
.bdLabel.blue{border-color:#1296db;background-color:#1296db;}
 /*文字标签当作信息窗使用时*/
.BMapLabel.hasDetail{
	position:relative;
	top:40px!important;
	left:-30px!important;
	margin-left:10px!important;
	padding:8px 10px!important;
}
.BMapLabel.hasDetail .bdLabel{color:inherit;background-color:#fff;border-color:#d80907;}
.BMapLabel.hasDetail .bdLabel.red{border-color:#d80907;}
.BMapLabel.hasDetail .bdLabel.green{border-color:#82a73a;}
.BMapLabel.hasDetail .bdLabel.blue{border-color:#1296db;}

/*三角形*/
.BMapLabel.hasDetail .bdLabel:before{
	content:'';
	position:absolute;
	z-index:9999!important;
	top:-10px;
	left:10%;
	width:0;
    height:0;
    border-width:0 60px 18px 18px;
    border-style:solid;
    border-color:transparent transparent #d80907; /*透明 透明  灰*/
}
.BMapLabel.hasDetail .bdLabel.red:before{border-color:transparent transparent #d80907;}
.BMapLabel.hasDetail .bdLabel.blue:before{border-color:transparent transparent #1296db;}
.BMapLabel.hasDetail .bdLabel.green:before{border-color:transparent transparent #82a73a;}


.bdInfoWindow{padding:5px 8px;font-size:14px;}
.bdLabel p,
.bdLabel br,
.bdInfoWindow p,
.bdInfoWindow br{line-height:1.75;}
.bdtitle{color:green;margin-right:5px;}
.bdaddress{color:gray;}