

.list{
    margin: 15px;
}

.list .item{
    padding: 0 10px 10px 10px;
    line-height: 22px;
    border-bottom: 1px dotted #e2e2e2;
    margin-bottom: 10px;
}

.list .item em{
    font-style: normal;
    color: #FF5722;
}

.list .item span{
    font-style: normal;
    color: #FF5722;
}
