

#list{
	height:600px;
	margin-bottom: 50px;
	
	padding:20px;
	overflow-y: auto;
}

#query,#list{
	padding-left:150px;
	padding-right: 150px;
	box-sizing: border-box;
}

#list .error{
	color:red;
	font-size:16px;
	align-items: center;
	display: flex;
	display: none;
	
}
#list .error i{
	color: red;
	font-size:28px;
	margin-right: 10px;
}

#list .title{
	font-size: 18px;
	margin-bottom: 10px;
	font-weight: bold;
}