<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.siruiman.crosslogistics.mapper.AppUserCertificationMapper">
    <select id="selectAppUserCertificationAll" resultType="com.siruiman.crosslogistics.model.AppUserCertification">
        SELECT a.certification_id, a.app_user_id, b.user_name, a.user_type, a.user_true_name, a.user_card_number,
        a.certificate_type,
        a.positive_pic, a.negative_pic, a.user_certification_status
        FROM app_user_certification a
        LEFT JOIN app_user b
        ON a.app_user_id = b.app_user_id
        WHERE 1=1
        <if test="search != null and search != ''">
            AND b.user_name like '%${search}%'
        </if>
        <if test="userType != null and userType != ''">
            <if test="userType == '小车'">
                AND a.user_type = '小车'
            </if>
            <if test="userType == '货车'">
                AND a.user_type = '货车'
            </if>
        </if>
    </select>

    <select id="count" resultType="java.lang.Integer">
    SELECT COUNT(1)
    FROM app_user_certification a
    LEFT JOIN app_user b
    ON a.app_user_id = b.app_user_id
  </select>

    <update id="checkAppUser">
    UPDATE app_user_certification
    SET user_certification_status = #{userCertificationStatus}
    WHERE certification_id = #{certificationId}
  </update>

    <select id="selecUserType" resultType="java.lang.String">
    SELECT user_type
    FROM app_user_certification
    WHERE certification_id = #{certificationId}
  </select>

    <update id="editCarApproveStatus">
    UPDATE app_user
    SET car_approve_status = #{approveStatus}
    WHERE app_user_id = #{appUserId}
  </update>

    <update id="editTruckApproveStatus">
    UPDATE app_user
    SET truck_approve_status = #{approveStatus}
    WHERE app_user_id = #{appUserId}
  </update>

    <select id="selectAppUserCertification" resultType="com.siruiman.crosslogistics.model.AppUserCertification">
    SELECT a.certification_id, b.user_name, a.user_type, a.user_true_name, a.user_card_number, a.certificate_type,
            a.positive_pic, a.negative_pic, a.license_plate, a.load, a.models, a.user_certification_status
    FROM app_user_certification a
    LEFT JOIN app_user b
    ON a.app_user_id = b.app_user_id
    WHERE certification_id = #{certificationId}
  </select>
    <insert id="insertAppUserCertification" parameterType="com.siruiman.crosslogistics.model.AppUserCertification">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        <selectKey resultType="java.lang.Integer" keyProperty="certificationId" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into
        app_user_certification(app_user_id,user_type,license_plate,`load`,models,user_certification_status,uf_ids,user_true_name)
        values (#{appUserId,jdbcType=INTEGER},
        #{userType,jdbcType=VARCHAR},
        #{licensePlate,jdbcType=VARCHAR},
        #{load,jdbcType=REAL},
        #{models,jdbcType=VARCHAR},
        #{userCertificationStatus,jdbcType=VARCHAR},
        #{ufIds,jdbcType=VARCHAR},
        #{userTrueName,jdbcType=VARCHAR})
    </insert>

    <select id="selectAppUserCertificationList" resultType="com.siruiman.crosslogistics.model.AppUserCertification"
            parameterType="map">
        SELECT
        auc.certification_id,auc.app_user_id,auc.user_type,auc.user_certification_status,au.number,au.user_name,auc.user_true_name
        FROM app_user_certification AS auc
        LEFT JOIN app_user AS au ON (auc.app_user_id = au.app_user_id)
        <where>
            <if test="userTrueName != null and userTrueName != ''">
                AND auc.user_true_name like "%"#{userTrueName}"%"
            </if>
            <if test="userType != null and userType != ''">
                AND auc.user_type like "%"#{userType}"%"
            </if>
            <if test="number != null and number != ''">
                AND au.number like "%"#{number}"%"
            </if>
        </where>
        ORDER BY auc.certification_id DESC
    </select>

    <select id="selectCountAppUserCertificationList" resultType="java.lang.Integer" parameterType="map">
        SELECT count(auc.certification_id)AS count
        FROM app_user_certification AS auc
        LEFT JOIN app_user AS au ON (auc.app_user_id = au.app_user_id)
        <where>
            <if test="userTrueName != null and userTrueName != ''">
                AND auc.user_true_name like "%"#{userTrueName}"%"
            </if>
            <if test="userType != null and userType != ''">
                AND auc.user_type like "%"#{userType}"%"
            </if>
            <if test="number != null and number != ''">
                AND au.number like "%"#{number}"%"
            </if>
        </where>
        ORDER BY auc.certification_id DESC
    </select>

    <select id="selectAppUserCertificationById" resultType="com.siruiman.crosslogistics.model.AppUserCertification"
            parameterType="java.lang.Integer">
    SELECT auc.certification_id,auc.app_user_id,auc.user_type,auc.user_certification_status,au.number,au.user_name,au.mobile,auc.uf_ids,auc.user_true_name,
    auc.license_plate,auc.load,auc.models
    FROM app_user_certification AS auc
    LEFT JOIN app_user AS au ON (auc.app_user_id = au.app_user_id)
    WHERE auc.certification_id = #{certificationId}
  </select>
    <update id="updateUserCertificationStatusById" parameterType="map">
    UPDATE app_user_certification
    SET user_certification_status = #{userCertificationStatus},
         dismiss_explain = #{dismissExplain}
    WHERE certification_id = #{certificationId}
  </update>
    <update id="updateAppUserCertification">
    UPDATE app_user_certification
    SET app_user_id = #{appUserId},
         user_type = #{userType},
          license_plate = #{licensePlate},
          `load` = #{load},
          models = #{models},
         user_certification_status = #{userCertificationStatus},
         uf_ids = #{ufIds},
         dismiss_explain = #{dismissExplain}
    WHERE certification_id = #{certificationId}
  </update>

    <select id="selectUserCertificationByUserId" resultType="com.siruiman.crosslogistics.model.AppUserCertification">
    SELECT certification_id,app_user_id,user_type,license_plate,`load`,models,user_certification_status,uf_ids,dismiss_explain,user_true_name
    FROM app_user_certification
    WHERE app_user_id =#{appUserId} AND user_type = #{userType} AND user_certification_status = '已通过'
  </select>

    <select id="selectAppUserCertificationByLicensePlate"
            resultType="com.siruiman.crosslogistics.model.AppUserCertification">
  SELECT certification_id,app_user_id,user_type,license_plate,`load`,models,user_certification_status,uf_ids,dismiss_explain,user_true_name
  FROM app_user_certification
  where license_plate = #{licensePlate} AND user_certification_status = '已通过'
  </select>
</mapper>